body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .range-slider-container {
    width: 70%;
    margin: 20px auto;
    border: 1px solid black;
   padding: 5px;
   border-radius: 10px;
  }
  
  .range-slider {
    width: 100%;
  }
  
  .output {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
  }
  

